.sign-up {
  margin-bottom: 60px;
  text-align: center;
}

.sign-up .img-container {
  margin: 40px 0;
  text-align: center;
}

.sign-up .img-container img {
  width: 200px;
  height: auto;
}

.sign-up form {
  padding-right: 10px;
  padding-left: 10px;
  margin: 40px auto 20px;
  max-width: 400px;
}

.sign-up form input {
  font-family: roboto, arial, helvet;
  margin: 0 auto 15px;
  display: block;
  width: 100%;
  padding: 15px;
  background: #eeeeee;
  border: none;
  border-radius: 4px;
  transition: all 0.3s linear;
}

.sign-up form input:focus {
  outline: 2px solid grey;
}

#signup-btn {
  background-color: var(--primary-color-1);
  color: white;
  padding: 20px;
}

.sign-up a {
  text-decoration: none;
  text-align: center;
  color: var(--primary-color-1);
  font-weight: 500;
}

.third-party-login {
  text-align: center;
}

.third-party-login .google-btn {
  cursor: pointer;
  font-family: roboto, arial, helvet;
  color: white;
  margin: 10px auto 15px;
  display: block;
  padding: 12px 30px;
  background: var(--primary-color-1);
  border: none;
  border-radius: 4px;
  transition: all 0.3s linear;
}
